* {
	margin:0; padding:0;
}

body {
	width:100%;
	height:100%;
	margin: 10px;
	font-family: 'Lobster', cursive;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

#canvas {
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	margin: 0px;
	display: block;
	padding-right: 10px;
	padding-bottom: 10px;
}

button {
	box-shadow: none;
	outline: none;
}

.buttons {
	display: flex;
}

.buttons__btn {
	position: absolute;
  margin-top: 20px;
  width: 14%;
  height: 60px;
  border-radius: 30px;
  background: #ccff7c;
  box-shadow: none;
  border: none;
	font-family: 'Lobster', cursive;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

.buttons__btn:hover {
  background: #a1e33a;
  color: #222;
}

.buttons_btn:active {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3) inset;
}

.buttons_top {
	top: 30%;
	right: 2%;
}

.buttons_center {
  top: 20%;
	right: 2%;
}

.buttons_bottom {
  top: 10%;
	right: 2%;
}


.buttons_send {
	top: 40%;
	right: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.picture {
	width: 95%;
}

.picture__img {
	width: 100%;
}

@media (max-width: 1230px) {
  .buttons__btn {
  	font-size: 14px;
  	width: 12%;
  	right: 1%;
  }
}

@media (max-width: 1130px) {
  .buttons__btn {
  	position: static;
  	width: 20%;
  }

  .buttons {
  	display: flex;
  	justify-content: space-around;
  }
}

@media (max-width: 768px) {
	.buttons__btn {
  	font-size: 12px;
  	width: 25%;
  	font-family: sans-serif;
  }
}

@media (max-width: 576px) {
  .buttons__btn {
  	width: 30%;
  }
}
