// $linkHover: #75c000;
// $linkActive: rgba(117,192,0,0.8);

$linkHover: #f0dc1b;
$linkActive: rgba(240,220,27,0.8);


@import "header.scss", "content.scss", "footer.scss";

/* ======== Variables ======== */

// $linkHover: #75c000;
// $linkActive: rgba(117,192,0,0.8);


/* ======== Specification ======== */

// @font-face {
//   font-family: 'VenusRising-Regular';
//   src: url('../fonts/VenusRising-Regular.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/VenusRising-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/VenusRising-Regular.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/VenusRising-Regular.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/VenusRising-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/VenusRising-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

/* ======== Specification ======== */

*,
*::before,
*::after {
    box-sizing: border-box; }

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus,
input, input:focus, input:active {
    text-decoration: none;
    outline: none; }


input, input:focus, input:active  {
    border: none;
    box-shadow: none;
    outline-offset: 0;
    outline-style: none;
    /*outline-width: 0;*/
    outline-color: transparent;
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  // font-family: 'Baloo Thambi', cursive;
  // font-family: 'Roboto', sans-serif;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}



// html {
//     overflow-x: hidden;
//     visibility: hidden;
// }

body {
    font-size: 14px;
    // font-family: 'Baloo Thambi', cursive;
    // background: url('../images/action-blur-close-up-735911.jpg') fixed no-repeat center top/cover;
    // background: url('../images/ai-artificial-intelligence-blur-546819.jpg') fixed no-repeat center top/cover;

    // color: #ffffff;

    // overflow-x: hidden
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    // font-family: 'ProximaNova-Semibold', sans-serif;
    font-size: 24px;
    letter-spacing: 0.6px;
    cursor: pointer;
    border: none;
    outline: hidden;
    border-radius: 30.5px;
}

.button:hover {
    background: rgba(255,255,255,0.8);
}

.button:active {
    background: rgba(255,255,255,0.6);
}

.title {
  // font-family: 'Aleo', serif;
  margin-top: 80px;
  text-align: center;
  // font-family: 'ProximaNova-Bold', sans-serif;

  font-weight: bold;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.title h1{
  font-family: 'Baloo Thambi', cursive;
  font-size: 69px;
}

.title p {
  font-family: 'Podkova', serif;
  margin-top: 50px;
  font-size: 26px;
}
