body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
  font-family: 'PT Sans', sans-serif;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  text-align: center;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  text-align: center;
}

@media (max-width: 992px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 25px;
  }
}

@media (max-width: 568px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    top: 65%;
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 18px;
  }
}
